name: Terraform Plan (Prod)

on:
  pull_request:
    paths:
      - "envs/prod/**"
      - "modules/**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: envs/prod
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: envs/prod
        run: terraform plan -var-file="prod.tfvars"
